/*GLOBAL*/
:root {
    /*colors*/
    --backgroundPrimary: #fdfdfd;
    --primaryColor: #050606;
    --secondaryColor: #d8d7d5;
    --thirdColor: #adb3bc;
    --fourthColor: #f5f5f5;

    /*fonts*/
    --fontMenu: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    background-color: var(--backgroundPrimary);
    box-sizing: border-box;    
    font-family: var(--fontMenu); 
    color: var(--primaryColor);
    margin: 0;
}

.mainConatiner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;         
    height: 100vh;
}


/*PAGE HEADER*/
.header {
    background-color: var(--fourthColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    font-size: 13px;   
    padding-top: 1vh;   
    height: 5vh;      
}

.header * {
    background-color: var(--fourthColor);
}

.logo {
    font-size: 20px;
    text-align: center;    
    padding-left: 10vw;    
}

.menu {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;        
    cursor: pointer;
}

@media (max-width: 580px) {
    .menu {    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
        cursor: pointer;
    }
}

.menu span {
    color: var(--primaryColor);    
    padding-right: 15px;
    padding-top: 5px;
}

.menu span a:active {
    
}

.menu span:hover {
    color: var(--thirdColor);
}

/*INTRODUCTION*/

.intro {    
    background-color: var(--fourthColor);
    display: flex;
    justify-content: center;
    align-items: center;        
    padding: 20px;    
}


@media (max-width: 1023px) {
    .intro {    
        background-color: var(--fourthColor);
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;                
        padding: 20px;    
    }
    
}

.intro * {
    background-color: var(--fourthColor);
}

.introText {    
    width:50%;
    text-align: center;
    background-color: inherit;    
    vertical-align: middle;
    margin-right: 50px;

}

.introTextRegular {    
    font-size: 15px;
    color: var(--thirdColor);       
}

.introTextName {    
    font-size: 40px;
}

.introPicture {
    height: 100%;
}

.introPicture img {     
    clip-path: circle(50%);  
    width: 80%;
    height: 80%;
}

/*ABOUT*/

.about {    
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;    
    align-items: stretch;
    flex-basis: auto;    
    padding-top: 10px;            
    width: 100%;
    min-height: 30vh;
}

@media (max-width: 1023px) {
    .about {    
        display: flex;
        flex-direction: column;    
        justify-content: space-evenly;    
        align-items: stretch;
        flex-basis: auto;    
        padding-top: 10px;            
        width: 100%;
        min-height: 30vh;
    }

    .about > div {        
        margin-top: 20px;                  
    }
    
}

.about > div {    
    box-shadow: 5px 5px 5px 5px var(--secondaryColor);    
    text-align: center;
    border-radius: 10px;          
    min-height: 200px;    
    min-width: 30vw;
    margin: 20px;
}

.aboutCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.aboutCardTitle {
    cursor: pointer; 
}

.aboutCardTitle:hover {    
    color: var(--thirdColor);
}

/*ABOUT - Professional*/
.aboutCard:first-child > .aboutCardContent > img {
    width: 100%;
    height: 100px;  
    border-radius: 10px;         
}

.aboutCard:first-child > .aboutCardContent > img {
    width: 100%;
    height: 100px;  
    border-radius: 10px;         
}

.aboutCard:first-child > .aboutCardContent > img:hover {    
    border-radius: 20px;
}

/*ABOUT - ACADEMIC*/
.aboutCard:nth-child(2) > .aboutCardContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: left;    
    flex-grow: 1;       
    width: 100%;      
}

/*academic history item*/
.aboutCard:nth-child(2) > .aboutCardContent > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;      
    margin: 10px;      
    padding: 10px;                  
}

.aboutCard:nth-child(2) > .aboutCardContent > div:hover {
    box-shadow: 5px 5px 5px 5px var(--secondaryColor); 
}


/*academic history item image*/
.aboutCard:nth-child(2) > .aboutCardContent > div > img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;     
    height: 60%;     
}

/*academic history item description*/
.aboutCard:nth-child(2) > .aboutCardContent > div > span {
    color: var(--primaryColor);
    font-size: small;
}

/*academic history item description*/
.aboutCard:nth-child(2) > .aboutCardContent > div > span:nth-child(3) {
    color: var(--thirdColor);
    font-size: small;
}

.aboutCard:nth-child(2) > .aboutCardContent > div > span:nth-child(4) {
    color: var(--thirdColor);
    font-size: small;
}


/*FOOTER*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--backgroundPrimary);
}

.footerSocialMedias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerSocialMedias > a {
    background: none;
    color: var(--secondaryColor);
}

.footerSocialMedias > a:hover {
    
    color: var(--primaryColor);
}

.footerCopyright {
    text-align: center;
    font-size: small;
    color: var(--secondaryColor);
}



